{% extends 'trading/base.html' %}
{% load static bootstrap_forms %}
{% block content %}
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" >
        <div class="card-header"><b>BTC Balance</b>: <span id="btc_balance">{{ trader.btc_balance }}</span></div>
        <div class="card-body">
          <form id="order_form" method="POST" action="{% url 'create-order' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="btc-to-spend">BTC to spend</label>
              <input oninput='precise(this)' value="0.00000001" min="0.00000001" type="number" step="0.00000001" name="btc-to-spend" class="form-control">
              <div class="container-fluid" style="margin-top:0.5rem;">
                <div class="row">
                  <div class="col-sm-3 p-0"><div data-percent="0.25" class="btc-calc-btn btn btn-sm btn-block btn-primary rounded-0">25%</div></div>
                  <div class="col-sm-3 p-0"><div data-percent="0.5" class="btc-calc-btn btn btn-sm btn-block btn-primary rounded-0">50%</div></div>
                  <div class="col-sm-3 p-0"><div data-percent="0.75" class="btc-calc-btn btn btn-sm btn-block btn-primary rounded-0">75%</div></div>
                  <div class="col-sm-3 p-0"><div data-percent="1" class="btc-calc-btn btn btn-sm btn-block btn-primary rounded-0">100%</div></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="auto-sell">Auto Sell (%)</label>
              <input value="1" min="1" type="number" name="auto-sell" class="form-control">
            </div>

            <div class="form-group">
              <label for="stop-loss">Stop Loss (%)</label>
              <input value="1" min="1" type="number" name="stop-loss" class="form-control">
            </div>

            <div class="form-group">
              {{ coin_form|as_bootstrap }}
            </div>

            <input type="submit" class="btn btn-success btn-block" value="BUY">
          </form>
        </div>
      </div>
      <div id="error-box"></div>
    </div>
    <div class="col-lg-8">
      <div class="container-fluid p-0">
        <div class="row" id="tc-container"></div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extendfoot %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'js/jquery.form.min.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script>

  var msg_box = $("#error-box");
  var REFRESH_SECONDS = 10;

  // Calculate precise float 8 decimal places.
  function precise(elem) {
    elem.value = Number(elem.value).toFixed(8);
  }

  // Update trader balance
  function update_balance() {
    $.ajax({
      url: '/api/balance/',
      type: 'GET',
      error: function (res) {
        err = $('<div class="alert alert-dismissible alert-danger">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+res.responseText+
        '</div>');
        msg_box.append(err)
      },
      success: function (res) {
        $("#btc_balance").text(res);
      }
    })
  }

  // Get coins for auto-complete
  function load_function(query, callback) {
    $.ajax({
      url: '/api/'+$(this)[0]['$input'][0]['name']+'/?format=json',
      type: 'GET',
      dataType: 'json',
      error: function (res) {
        err = $('<div class="alert alert-dismissible alert-danger">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+res.responseText+
        '</div>');
        msg_box.append(err)
      },
      success: function (res) {
        callback(res);
      }
    });
  }

  $(document).ready(function() {

    // Initialize.
    update_balance();
    get_transaction_conditions();

    // setInterval(function() {
    //   get_transaction_conditions();
    // }, 1000*REFRESH_SECONDS)

    // Order form percentage buttons functionality.
    $('.btc-calc-btn').on('click', function() {
      balance = $("#btc_balance").text();
      calculated = (Number(balance) * Number($(this)[0].dataset['percent'])).toFixed(8);
      $("input[name='btc-to-spend']").val(calculated);
    });

    // Get all transaction conditions.
    function get_transaction_conditions() {
      $.ajax({
        url: '/api/tc/open/?format=json',
        type: 'GET',
        dataType: 'json',
        error: function (res) {
          err = $('<div class="alert alert-dismissible alert-danger">'+
            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+res.responseText+
          '</div>');
          msg_box.append(err)
        },
        success: function(res) {

          var tc_container = $('#tc-container');
          tc_container.empty();

          res.forEach(function(tc) {
            if (tc.change > 0) {
              direction = 'success'
            } else {
              direction = 'danger'
            }

            ele = $('<div class="symbol-'+tc.coin+' col-md-6">'+
              '<div class="card bg-light mb-3">'+
                '<div class="card-header">'+tc.coin+'</div>'+
                '<div class="card-body text-primary" style="padding-top:0.75rem;">'+
                  '<div class="text-right float-right">'+
                    '<small>Change</small>'+
                    '<h4 class="card-title"><span class="change-percent text-'+direction+'">'+tc.change+'%</span></h4>'+
                  '</div>'+
                  '<small>Current price</small>'+
                  '<h4 class="current-price card-title" style="margin-bottom:0;">'+tc.btc_buy_price+'</h4>'+
                  '<small>BOUGHT @ <span class="btc-price">'+tc.btc_buy_price+'</span></small>'+
                  '<p style="margin-bottom:0">&nbsp;</p>'+
                  '<div style="padding-top:2rem;position:absolute;bottom:1rem;">'+
                  '<small class="text-muted">BTC: '+tc.btc_amount+' | Sell: '+tc.auto_sell+'% | Loss: '+tc.stop_loss+'%</small></div>'+
                '</div>'+
              '</div>'+
            '</div>')
            tc_container.append(ele);

          });
        }
      })
    }

    ////////// ORDER FORM ////////////////////////////
    // Submit order form on ENTER (when coin selectize focused).
    Selectize.define('enter_key_submit', function (options) {
      var self = this
      this.onKeyDown = (function (e) {
        var original = self.onKeyDown
        return function (e) {
          if (e.keyCode === 13 && this.$control_input.val() != '') {
            self.trigger('submit')
            e.preventDefault()
          }
          return original.apply(this, arguments)
        }
      })()
    })

    $('.singleinputautocomplete').selectize({
      maxItems: 1,
      labelField: 'text',
      valueField: 'value',
      persist: true,
      preload: true,
      render: {
        option: function (item, escape) {
          return '<div>' + item.text + '</div>';
        }
      },
      load: load_function,
      plugins: ['enter_key_submit'],

      onInitialize: function (foo) {
        this.on('submit', function () {
          this.$input.closest('form').submit()
        }, this)
      }
    });

    $("#order_form").ajaxForm({
      url: "{% url 'create-order' %}",
      type: 'post',
      success: function (res) {
        msg = $('<div class="alert alert-dismissible alert-success">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
          '<b>Order successfully placed</b><br/>'+
        '</div>');
        update_balance();
        get_transaction_conditions();
        msg_box.append(msg);
      },
      error: function (res) {
        err = $('<div class="alert alert-dismissible alert-danger">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+res.responseText+
        '</div>');
        msg_box.append(err)
      }
    });

    ////////// ORDER FORM END ////////////////////////////

    socket = new WebSocket("ws://" + window.location.host + "/");
    if (socket.readyState == WebSocket.OPEN) socket.onopen(); 

    socket.onmessage = function(e) {
      json = JSON.parse(e.data);
      console.log(json);
      for (var key in json) {
        if (json.hasOwnProperty(key)) {
          coin_div = $(".symbol-"+key);
          current_price = json[key]['p']
          coin_div.find(".current-price").text(current_price)
          change = json[key]['change']
          change_percent = coin_div.find(".change-percent")
          change_percent.text(change+"%")
          if (change >= 0) {
            change_percent.addClass("text-success")
            change_percent.removeClass("text-danger")
          } else {
            change_percent.addClass("text-danger")
            change_percent.removeClass("text-success")
          }
        }
      }
    }

    socket.onopen = function(e) {
      console.log("Socket opened.")
    }

  })

</script>
{% endblock extendfoot %}